body {
  overflow-x: hidden;
}


.outline {
  border: 5px solid black;
}

.drawing {
  aspect-ratio: 1;
  width: 120px;
  text-align: center;
}

.no-outline {
  border: 5px solid white;
}

canvas {
  width: 100%;
  aspect-ratio: 1;
}

.drawing-title, .drawing-description {
  font-family: Arial;
  max-width: 90%;
  display: block;
  overflow-wrap: break-word;
}

.drawing-title {
  font-weight: bold;
  font-size: 20px;
  color: black;
}

.drawing-description {
  font-size: 15px;
  color: grey;
}

#drawings {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2.8vw;
}