
@font-face {
  font-family: font;
  src: url(../font.ttf);
}

body {
  margin: 0;
  font-family: font;
}

button {
  font-family: font;
  border-radius: 20px;
}

#topbar {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0;
  border-bottom: 5px black solid;
  height: 60px;
  background-color: #ffffff90;
}

#pfp {
  width: 50px;
  height: 50px;
  border: 2px solid black;
  border-radius: 100px;
  background-color: white;
}

#account {
  font-size: 30px;
  padding: 0 20px;
  border: 2px grey solid;
  cursor: pointer;
}

#title {
  position: relative;
  left: 20px;
}

#right-topbar {
  position: absolute;
  right: 20px;
  align-items: center;
  display: flex;
}

#right-topbar * {
  margin-left: 20px;
}

#content, #notLoggedIn {
  padding: 10px;
}

#drawings {
  display: flex;
  flex-direction: row;
}

.drawing {
  border: 3px solid black;
  border-radius: 10px;
  width: 200px;
  height: 160px;
  margin-bottom: 10px;
  cursor: pointer;
  margin-right: 10px;
  position: relative;
  background-color: white;
}

.drawing-canvas {
  position: absolute; 
  width: 200px;
  height: 160px;
  z-index: 0;
}

.textDiv {
  background: radial-gradient(ellipse at bottom left, #0000003e, transparent 70%);
  position: absolute;
  bottom: 0;
  max-width: 100%;
  padding: 0 2.5px;
}

.drawing-title {
  color: black;
  left: 5px;
  font-size: 15px;
}

.drawing-description {
  color: black;
  left: 5px;
  font-size: 10px;
  overflow-wrap: break-word;
}

.delete-btn {
  position: absolute;
  right: 0;
  background: radial-gradient(ellipse at top right, #ff00003e, transparent 70%);;
  border: none;
  z-index: 2;
  cursor: pointer;
  padding: 0;
  font-size: 20px;
}

#newBtn {
  font-size: 20px;
  background-color: lightgreen;
  border: green 2px solid;
  padding: 0 20px;
  box-shadow: 0 2px 10px green;
}

img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}